/* 一图流配置，隐藏 banner 和 footer 的图片 */
#page-header {
    background: transparent !important;
}
#footer {
    background: transparent !important;
}

/* 导航栏，彩色图标 */
svg.icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}